/*colors*/
/*primary colors */
h1, h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-bottom: 20px; }

.title-row {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
  border-left: 3px solid #f5b929; }

.jumbotron {
  background-image: url(../../../images/bgimg1.png);
  font-family: "Lato", sans-serif;
  color: #fff;
  padding-right: 10px; }
  .jumbotron .jumbotronTitle {
    font-family: "Lato", sans-serif;
    font-size: 36px;
    font-weight: 700; }
  .jumbotron .jumbotronText {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 300; }
  .jumbotron .btn-primary {
    color: #fff;
    border-radius: 0px;
    background-color: #1c2331;
    border-color: #f5b929;
    width: 150px;
    height: 50px;
    margin-top: 40px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    -webkit-transition: background-color 1s ease-in;
    -moz-transition: background-color 1s ease-in;
    -o-transition: background-color 1s ease-in;
    transition: background-color 1s ease-in; }
    .jumbotron .btn-primary:hover {
      color: #333;
      border-color: #f5b929;
      background-color: #f7f7f7;
      -webkit-transition: background-color 1s ease-out;
      -moz-transition: background-color 1s ease-out;
      -o-transition: background-color 1s ease-out;
      transition: background-color 1s ease-out; }
