/*colors*/
/*primary colors */
$themeColor : #1c2331;
$themeDark  : darken($themeColor,2%);
$pageColor  : #f7f7f7;
$decorativeColor: #f5b929;
$linkColor:#bfbfbf;
$textColorLight:#fff;
$textColorDark:#333;
$smallLine:lighten(#1c2331, 40% );
