/*colors*/
$themeColor : #112a39!important;
$hoverColor :#fff;
$overlayColor :#f5b929;
$overlayText:#000;
$textColorLight:#fff;
$textColorDark:#000;
$buttonBorder :#4c86a3;
$buttonHover:#ededed;
$buttonColor:#112a39;
$pageColor:#f7f7f7;
$smallLine:#415d6e;
$footerbg:#1c2331;
$footerbgHigh:#161c27;
$linkColor:#bfbfbf;
$linkHover:#fff;
$textLine:#f5b929;