$font:'Open Sans',sans-serif;
$fontHighLight: 'Lato', sans-serif;
h1, h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}
.title-row{
    font-family: $fontHighLight;
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
    border-left:3px solid $decorativeColor;
    }