$themeColor : #112a39!important;
$hoverColor :#fff;
$Block: #233f53;
$hoverBlock:#0d202c;
$font:'Abel', sans-serif;
$textColor:#fff;
$bgColor:#112a39!important;
$pageColor:#f7f7f7;
$smallLine:#415d6e;//line at the intro