/*colors*/
/*primary colors */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

/*$themeColor : #1c2331;
$themeDark  : darken($themeColor,2%);
$pageColor  : #f7f7f7;
$decorativeColor: #f5b929;
$linkColor:#bfbfbf;
$textColorLight:#fff;
$textColorDark:#fff;
$smallLine:lighten(#1c2331, 40% );*/
.outterRing {
  background-color: #1c2331;
  height: 200px;
  color: #fff;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 20px;
  padding: 25px;
  -webkit-transition: background-color 1s ease-in;
  -moz-transition: background-color 1s ease-in;
  -o-transition: background-color 1s ease-in;
  transition: background-color 1s ease-in;
}
.outterRing:hover {
  background-color: #415172;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.innerRing {
  height: 150px;
  color: #fff;
  border-bottom: 1px solid #6d82ac;
  border-top: 1px solid #6d82ac;
  padding-right: 50px;
  text-align: left;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 100;
  margin-right: 80px;
}
.innerRing h1,
.innerRing h2,
.innerRing h3,
.innerRing h4,
.innerRing h5,
.innerRing h6 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.icon {
  margin-top: 0px;
  font-size: 150px;
  float: left;
  border-color: white;
  color: white;
}

.iconHolder {
  border-bottom: 1px solid #6d82ac;
  border-top: 1px solid #6d82ac;
}

@media screen and (max-width: 768px) {
  .outterRing {
    background-color: #161c27;
    height: 330px;
    color: #fff;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 20px;
    padding: 25px;
    -webkit-transition: background-color 1s ease-in;
    -moz-transition: background-color 1s ease-in;
    -o-transition: background-color 1s ease-in;
    transition: background-color 1s ease-in;
  }
  .outterRing:hover {
    background-color: #1c2331;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
  }
  .innerRing {
    height: 280px;
    border-bottom: 1px solid #6d82ac;
    border-top: 1px solid #6d82ac;
    padding-right: 0px;
    text-align: center;
    font-size: 17px;
    margin-right: 80px;
  }
  .icon {
    display: none;
  }
}
