h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-bottom: 20px; }

/*colors*/
/*primary colors */
.baseGrid {
  background-color: transparent;
  color: #fff; }
  .baseGrid .show-grid .subscribeText {
    padding-top: 50px;
    padding-bottom: 50px; }
  .baseGrid .show-grid .subscribeButtonHolder {
    padding-top: 80px;
    padding-bottom: 50px; }

.btn-primary2 {
  color: #fff;
  margin: 0 auto;
  float: right;
  border-radius: 0px;
  background-color: #1c2331;
  border-color: #f5b929;
  width: 200px;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  -webkit-transition: background-color 1s ease-in;
  -moz-transition: background-color 1s ease-in;
  -o-transition: background-color 1s ease-in;
  transition: background-color 1s ease-in; }
  .btn-primary2:hover {
    background-color: #f7f7f7;
    color: #696969;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out; }

@media (max-width: 767px) {
  .baseGrid .show-grid .subscribeText {
    padding-top: 50px;
    padding-bottom: 50px; }
  .baseGrid .show-grid .subscribeButtonHolder {
    padding-top: 0px;
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .btn-primary2 {
    color: #fff;
    border-radius: 0px;
    background-color: #1c2331;
    border-color: #f5b929;
    width: 200px;
    height: 50px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    -webkit-transition: background-color 1s ease-in;
    -moz-transition: background-color 1s ease-in;
    -o-transition: background-color 1s ease-in;
    transition: background-color 1s ease-in; }
    .btn-primary2:hover {
      background-color: #f7f7f7;
      color: #696969;
      -webkit-transition: background-color 1s ease-out;
      -moz-transition: background-color 1s ease-out;
      -o-transition: background-color 1s ease-out;
      transition: background-color 1s ease-out; } }
