h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

/*$themeColor : #112a39!important;
$hoverColor :#fff;
$Block: #233f53;
$hoverBlock:#0d202c;
$font:'Open Sans', sans-serif;
$textColor:#fff;
$bgColor:#112a39!important;
$pageColor:#f7f7f7;
$smallLine:#415d6e;//line at the intro
$font1: 'Lato', sans-serif;
*/
.navbar-default {
  background-color: #112a39 !important;
  margin-bottom: 0px;
  border: none;
  border-radius: 0;
  height: 75px;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.navbar-default .navbar-nav > li {
  color: #fff;
}

.navbar-default .navbar-nav > li:hover {
  color: #fff;
  background-color: transparent;
  border-bottom: 3px solid #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  background-color: transparent;
}

.navbar-default .navbar-brand {
  color: #fff;
  float: left;
  height: 30px;
  margin-top: 6px;
  font-size: 23px;
  font-family: "Lato", sans-serif;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #fff;
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #fff;
  background-color: transparent;
  border-bottom: 3px solid #fff;
}

/* Over writting Bootstrap Site for link color on drop down*/
.navbar-default .navbar-nav .open .dropdown-menu {
  background-color: #112a39 !important;
  color: #fff;
  border-radius: 0px;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #fff;
  background-color: transparent;
  border-bottom: 3px solid #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu .divider {
  background-color: #fff;
}

/* centering the drop down list */
.navbar-default .dropdown-menu {
  right: 0;
  left: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #fff;
  background-color: #112a39 !important;
}

/* Changing default border color to white*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #fff;
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: #112a39 !important;
    border: 1px;
    border-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
  }
}

/* logo fixing css */
.logofix {
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 5px;
  float: left;
}

/* font families included from google font families */
/*
font-family: 'Abel', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Economica', sans-serif;
*/
