h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

/*$themeColor : #112a39!important;
$hoverColor :#fff;
$Block: #233f53;
$hoverBlock:#0d202c;
$font:'Open Sans', sans-serif;
$textColor:#fff;
$bgColor:#112a39!important;
$pageColor:#f7f7f7;
$smallLine:#415d6e;//line at the intro
$font1: 'Lato', sans-serif;
*/
.show-grid-fluid-embedded-services {
  background-color: #f7f7f7; }

.show-grid-embedded-services {
  background-color: #f7f7f7; }

.show-title-col {
  background-color: #f7f7f7;
  color: black;
  padding-top: 10px; }

.show-title-col-row-title {
  margin: 10px;
  margin-top: 15px;
  border-left: 3px solid;
  Padding-left: 15px;
  padding-top: 0px; }

.show-title-col-row-content {
  margin: 10px;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 100; }

.show-col-grid {
  background-color: #f7f7f7; }

.show-col-grid-col {
  background-color: #f7f7f7; }

.show-col-grid-col-row-item {
  background-color: #112a39 !important;
  height: 200px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px; }
