h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

.outterGrid {
  background-color: #f7f7f7;
  background-image: url("../images/featurebg.png");
  background-repeat: no-repeat center; }

.columns {
  margin-top: 50px;
  margin-bottom: 70px;
  background-color: transparent; }

.columnText {
  background-color: transparent;
  color: black;
  font-family: "Open Sans", Arial, sans-serif;
  text-align: justify;
  font-size: 14px;
  font-weight: 100; }

.titleRow {
  margin: 10px;
  margin-top: 25px;
  border-left: 3px solid;
  Padding-left: 15px;
  padding-top: 0px; }

.titleRowContent {
  margin: 10px; }

.rowsTile {
  background-color: transparent; }

.rows {
  background-color: #112a39 !important;
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
  color: #fff; }

.coltexts {
  background-color: #f7f7f7;
  font-family: "Open Sans", Arial, sans-serif; }

.coltext {
  background-color: #f7f7f7;
  color: black;
  height: 150px;
  font-size: 13px;
  font-weight: 100;
  font-family: "Open Sans", Arial, sans-serif;
  text-align: left;
  -webkit-box-shadow: 0 1px 21px rgba(0, 0, 0, 0.19);
  box-shadow: 0 1px 21px rgba(0, 0, 0, 0.19);
  -webkit-transition: background-color 1s ease-in;
  -moz-transition: background-color 1s ease-in;
  -o-transition: background-color 1s ease-in;
  transition: background-color 1s ease-in; }
  .coltext:hover {
    background-color: #112a39 !important;
    color: #fff;
    border-left: 1px solid white;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out; }

.icon1 {
  font-size: 70px;
  margin-top: 40px;
  margin-left: 10px; }

@media (max-width: 767px) {
  .outterGrid {
    background-color: #f7f7f7; }
  .columnText {
    background-color: none;
    color: black;
    font-family: "Open Sans", Arial, sans-serif;
    text-align: justify; } }
