/*colors*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

.techContainer {
  margin-top: 50px;
  margin-bottom: 50px; }

.techHeading {
  color: #fff;
  border-left: 3px solid #fff;
  margin: 15px;
  margin-bottom: 30px; }

/*Individual elements & over lay effect inside each block */
.list-pic {
  height: 170px;
  background-color: transparent;
  list-style: none;
  padding: 10px; }

.list-pic-innerBlock {
  height: 150px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 21px rgba(0, 0, 0, 0.19);
  box-shadow: 0 1px 21px rgba(0, 0, 0, 0.19);
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px; }
  .list-pic-innerBlock:hover .overlay {
    opacity: 0.85; }
  .list-pic-innerBlock .overlay {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: 150px;
    width: 90%;
    opacity: 0;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    background-color: #112a39 !important;
    -webkit-box-shadow: 0 1px 21px rgba(0, 0, 0, 0.19);
    box-shadow: 0 1px 21px rgba(0, 0, 0, 0.19); }
  .list-pic-innerBlock .text {
    color: #fff;
    font-size: 12px;
    position: absolute;
    text-align: left;
    font-family: "Open Sans", Arial, sans-serif;
    padding: 15px; }
    .list-pic-innerBlock .text h2 {
      text-align: center; }
