/*colors*/
/*primary colors */
h1, h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-bottom: 20px; }

.outterRing {
  background-color: #1c2331;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-Size: 20px;
  padding: 25px;
  -webkit-transition: background-color 1s ease-in;
  -moz-transition: background-color 1s ease-in;
  -o-transition: background-color 1s ease-in;
  transition: background-color 1s ease-in; }
  .outterRing:hover {
    background-color: #2f3a51;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out; }

.innerRing {
  color: #fff;
  border-bottom: 1px solid #f5b929;
  border-top: 1px solid #f5b929;
  padding-right: 50px;
  padding-bottom: 32px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-Size: 17px;
  font-weight: 100;
  margin-right: 80px; }
  .innerRing h1, .innerRing h2, .innerRing h3, .innerRing h4, .innerRing h5, .innerRing h6 {
    font-family: "Lato", sans-serif; }
  .innerRing span {
    font-size: 30px;
    font-weight: 700; }

.icon {
  margin-top: 0px;
  font-size: 150px;
  float: left;
  color: #fff; }

.iconHolder {
  padding-top: 8px;
  padding-bottom: 9px;
  border-bottom: 1px solid #f5b929;
  border-top: 1px solid #f5b929; }

@media screen and (max-width: 768px) {
  .outterRing {
    background-color: #1c2331;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-Size: 20px;
    padding: 25px;
    -webkit-transition: background-color 1s ease-in;
    -moz-transition: background-color 1s ease-in;
    -o-transition: background-color 1s ease-in;
    transition: background-color 1s ease-in; }
    .outterRing:hover {
      background-color: #2f3a51;
      -webkit-transition: background-color 1s ease-out;
      -moz-transition: background-color 1s ease-out;
      -o-transition: background-color 1s ease-out;
      transition: background-color 1s ease-out; }
  .innerRing {
    border-bottom: 1px solid #f5b929;
    border-top: 1px solid #f5b929;
    padding-right: 0px;
    text-align: center;
    font-Size: 17px;
    margin-right: 80px; }
  .icon {
    display: none; }
  .iconHolder {
    border-bottom: none;
    border-top: none; } }
