@import "../mixins";
@import "../colors";
@import "../fonts";
.navbar-default  {
 background-color: $themeColor;
 margin-bottom: 0px;
 border: none;
 border-radius: 0;
 height:75px;
 padding:10px;
 font-family: $font;
 font-size: 14px;
 font-weight: 300;
}
//Navbar List 
.navbar-default .navbar-nav > li{
  color:$textColorLight ;
}
.navbar-default .navbar-nav > li:hover {
    color:$textColorLight;
    background-color: transparent;
    border-bottom: 3px solid $decorativeColor;
}
.navbar-default .navbar-nav > li > a {
  color: $textColorLight;
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover 
{
    color: $textColorLight;
    background-color: transparent;
}
//Navbar Brand
.navbar-default .navbar-brand {
  color: $hoverColor;
  float: left;
  height: 30px;
  margin-top: 6px;
  font-size: 23px;
  font-family:$fontHighLight;
}

.navbar-default .navbar-brand:focus, 
.navbar-default .navbar-brand:hover {
  color:$textColorLight ;
  background-color: transparent;
}

//Toggle Button 
.navbar-default .navbar-toggle .icon-bar {
  background-color: $textColorLight;
}
.navbar-default .navbar-toggle {
  border-color: $decorativeColor;
}
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

//Navbar List Drop Down
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
    color: $textColorLight  ;
    background-color: transparent;
    border-bottom: 3px solid $decorativeColor ;
}

/* Over writting Bootstrap Site for link color on drop down*/
.navbar-default .navbar-nav .open .dropdown-menu {
    background-color:$themeColor;
    color:$textColorLight ;
    border-radius:0px;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: $textColorLight ;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: $textColorLight ;
    background-color: transparent;
    border-bottom: 3px solid $decorativeColor ;
    
}
.navbar-default .navbar-nav .open .dropdown-menu .divider {
    background-color: $decorativeColor ;
    
}

/* centering the drop down list */
.navbar-default .dropdown-menu {
    right: 0;
    left:  0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: $decorativeColor ;
    background-color:$themeColor ;
}

/* Changing default border color to white*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: $decorativeColor;
}
@media (max-width: 767px)
{
    .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: $themeColor;
    border: 1px;
    border-color: $decorativeColor; 
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}
}

/* logo fixing css */
.logofix{
    margin-top: 0px;
    margin-left:15px;
    margin-right:5px;
    float:left;
}

