@import "../Colors";
@import "../Fonts";
@import "../mixins";
.footer-style{
    
    .container-fluid{
         background-color:$footerbg;
        .footer-welcome{
            text-align: left;
            font-size: 20px;
            margin-top:30px;
            font-family:$font;
            font-weight: 200;
        }
    }
    .social {
        background-color: $footerbgHigh;
    }
    .social-links-col-msg{
        color:$textColorLight;
        font-family:$fontHighLight;
        text-align: left;   
    }
    .social-icons{
        font-size: 40px;
        color:$pageColor;
        @include transition-in;
        &:hover{
            color: $textLine;
            @include transition-out;
        }
        
    }
    .social-links-col-links{
        text-align: right;
        color:$textColorLight;
        list-style: none;
        ul{
            padding:20px;
            float:right;
        }
        li{
             float:left;
             padding:5px;
             list-style: none;
        }
    }
    .footer-column {
        background-color: $footerbg;
        color: $linkColor;
        font-size: 14px;
        text-align: left;
        padding-top: 50px;
        padding-left: 30px;
        padding-right:30px;
        padding-bottom:90px;
        h1, h2, h3, h4, h5, h6 {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        margin-bottom: 10px;
        color:$pageColor;
        }
        .about-text{
            text-align: justify;
        }
        hr {
            display: block;
            width: 60px;
            height: 0px;
            border: 0;
            border-top: 2px solid $textLine;
            margin: 1em 0 2em ;
            padding: 0;
        }
       
       i {
           display: inline-block;
           margin-right: 1em;
       }
       .address{
            text-indent: 30px;
       }
       a {
           color: $linkColor;
           text-decoration: none;
       &:hover{
           color: $linkHover;       
          }
       }
      
        
    }
    .footer-bottom {
        background-color: $footerbgHigh;
        color:#bfbfbf;
        height: 60px;
        text-align: center;
        padding:20px;
        a {
            color: $linkColor;
            text-decoration: none;
        &:hover{
            color: $linkHover;       
           }
        }
    }
}
@media (max-width: 767px)
{
.footer-style{
    .social-links-col-links{
        text-align: right;
        color:$textColorLight;
        list-style: none;
        ul{
            padding:0px;
            float:left;
        }
        li{
             float:center;
             padding:5px;
             list-style: none;
        }
    }
    .footer-column {
       padding-top: 0px;
       padding-bottom: 0px;
    }
}

}