@import "../Variables";
@import "../mixins";
/*
$themeColor : #112a39!important;
$hoverColor :#fff;
$Block: #233f53;
$hoverBlock:#0d202c;
$smallLine:#415d6e;
*/
.outterRing{ 
    background-color:$hoverBlock;
    height: 200px;
    color:$hoverColor;
    font-family: $font;
    font-Size:20px;
    padding:25px;
    
       @include transition-in;
   
    &:hover{
        background-color:$Block;;
        //@include transition(color .1s ease);
  
         @include transition-out;
   
    }
  
}
.innerRing{
    height:150px;    
    color:$hoverColor;
    border-bottom: 1px solid $smallLine ;
    border-top: 1px solid $smallLine ;
    padding-right: 50px;
    text-align: left;
    font-family: $font;
    font-Size:17px;
    font-weight: 100;
    margin-right: 80px;
    h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    }
}
/*
.picRing{
    height:150px;
    border-radius: 100px;
   //picture movement animation 
    background: gray url(../images/intro.png) repeat 0 0;
    background-size: 200px 150px;
   -webkit-animation: slide 20s linear infinite;
}*/
.icon{
    margin-top:0px;
    font-size: 150px;
    float:left;
    border-color: white;
    color:white;
}
.iconHolder
{
    
    border-bottom: 1px solid $smallLine ;
    border-top: 1px solid $smallLine ;
}

//Mobile Css
@media screen and (max-width: 768px) {
    .outterRing{ 
    background-color:$hoverBlock;
    height: 330px;
    color:$hoverColor;
    font-family: $font;
    font-Size:20px;
    padding:25px;
     @include transition-in;
    &:hover{
        background-color:$Block;
          @include transition-out;
    }
    }
    .innerRing{
    height:280px;    
    border-bottom: 1px solid $smallLine ;
    border-top: 1px solid $smallLine ;
    padding-right: 0px;
    text-align: center;
    font-Size:17px;
    margin-right: 80px;
    }
    .icon{
    display:none;
}
}