@import "../mixins";
@import "../colors";
@import "../fonts";

.outterRing{ 
    background-color:$themeColor;
    //height: 200px;
    color:$textColorLight;
    font-family: $font;
    font-Size:20px;
    padding:25px;
    @include transition-in;
    &:hover{
    background-color:lighten($themeColor, 10%);
    @include transition-out;
   
    }
  
}
.innerRing{
    //height:150px;    
    color:$textColorLight;
    border-bottom: 1px solid $decorativeColor ;
    border-top: 1px solid $decorativeColor ;
    padding-right: 50px;
    padding-bottom: 32px;
    text-align: left;
    font-family: $font;
    font-Size:17px;
    font-weight: 100;
    margin-right: 80px;
    h1, h2, h3, h4, h5, h6 {
    font-family: $fontHighLight;
    //font-weight: 300;
    }
}

.icon{
    margin-top:0px;
    font-size: 150px;
    float:left;
    color:$textColorLight;
}
.iconHolder
{
    border-bottom: 1px solid $decorativeColor ;
    border-top: 1px solid $decorativeColor ;
}

//Mobile Css
@media screen and (max-width: 768px) {
    .outterRing{ 
    background-color:$themeColor;
    color:$textColorLight;
    font-family: $font;
    font-Size:20px;
    padding:25px;
     @include transition-in;
    &:hover{
    background-color:lighten($themeColor, 10%);;
    @include transition-out;
    }
    }
    .innerRing{   
    border-bottom: 1px solid $decorativeColor;
    border-top: 1px solid $decorativeColor;
    padding-right: 0px;
    text-align: center;
    font-Size:17px;
    margin-right: 80px;
    }
    .icon{
    display:none;
    }
    .iconHolder
    {
    border-bottom: none;
    border-top: none;
    }
}