@import "../Variables";
@import "../mixins";
/*$themeColor : #112a39!important;
$hoverColor :#fff;
$Block: #233f53;
$hoverBlock:#0d202c;
$font:'Open Sans', sans-serif;
$textColor:#fff;
$textColorDark:#000;
$bgColor:#112a39!important;
$pageColor:#f7f7f7;
$smallLine:#415d6e;//line at the intro
$font1: 'Lato', sans-serif;
$buttonBorder :#4c86a3;
$buttonColor:#112a39;
$buttonHover:#ededed;
*/

.jumbotron 
{
    background-image: url("../images/slide2.png");
    font-family: $font1;
    color:#333;
    padding-left: 100px;
    margin-bottom: 0px;
    height:350px;
    h1, h2, h3, h4, h5, h6 {
   font-family: $font1;
   font-weight: 400;
    }
    .btn-primary {
    color: $textColor;
    border-radius:0px;
    background-color: $buttonColor;
    border-color:$buttonBorder ;
    margin-left: 10px;
    width:150px;
    height: 50px;
    margin-top: 40px;
    font-family: $font;
    font-size: 14px;
    @include transition-in;
    &:hover{
        
         color: $textColorDark;
         background-color: $buttonHover;
         @include transition-out;
   
    }
}

}
    


@media only screen and (max-width: 700px) {
 
.jumbotron 
{
    background-image: url("../images/slide2.png");
    color:$textColorDark;
    padding: 10px;
    margin-bottom: 0px;
    .btn-primary {
    color: $textColor;
    background-color:$buttonColor;
    border-color:$buttonBorder ;
    margin-left: 0px;
    width:150px;
    height: 50px;
    font-size: 16px;
    margin-top: 8px;
    @include transition-in;
    &:hover{
         color: $textColorDark;
         background-color: $buttonHover;
         @include transition-out;  
   
    }
    
    
    }
    }


}