/*colors*/
/*primary colors */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

.footer-style .container-fluid {
  background-color: #1c2331; }
  .footer-style .container-fluid .footer-welcome {
    text-align: left;
    font-size: 20px;
    margin-top: 30px;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 200; }

.footer-style .social {
  background-color: #161c27; }

.footer-style .social-links-col-msg {
  color: #fff;
  font-family: "Lato", sans-serif;
  text-align: left; }

.footer-style .social-icons {
  font-size: 40px;
  color: #f7f7f7;
  -webkit-transition: background-color 1s ease-in;
  -moz-transition: background-color 1s ease-in;
  -o-transition: background-color 1s ease-in;
  transition: background-color 1s ease-in; }
  .footer-style .social-icons:hover {
    color: #f5b929;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out; }

.footer-style .social-links-col-links {
  text-align: right;
  color: #fff;
  list-style: none; }
  .footer-style .social-links-col-links ul {
    padding: 20px;
    float: right; }
  .footer-style .social-links-col-links li {
    float: left;
    padding: 5px;
    list-style: none; }

.footer-style .footer-column {
  background-color: #1c2331;
  color: #bfbfbf;
  font-size: 14px;
  text-align: left;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 90px; }
  .footer-style .footer-column h1, .footer-style .footer-column h2, .footer-style .footer-column h3, .footer-style .footer-column h4, .footer-style .footer-column h5, .footer-style .footer-column h6 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
    color: #f7f7f7; }
  .footer-style .footer-column .about-text {
    text-align: justify; }
  .footer-style .footer-column hr {
    display: block;
    width: 60px;
    height: 0px;
    border: 0;
    border-top: 2px solid #f5b929;
    margin: 1em 0 2em;
    padding: 0; }
  .footer-style .footer-column i {
    display: inline-block;
    margin-right: 1em; }
  .footer-style .footer-column .address {
    text-indent: 30px; }
  .footer-style .footer-column a {
    color: #bfbfbf;
    text-decoration: none; }
    .footer-style .footer-column a:hover {
      color: #fff; }

.footer-style .footer-bottom {
  background-color: #161c27;
  color: #bfbfbf;
  height: 60px;
  text-align: center;
  padding: 20px; }
  .footer-style .footer-bottom a {
    color: #bfbfbf;
    text-decoration: none; }
    .footer-style .footer-bottom a:hover {
      color: #fff; }

@media (max-width: 767px) {
  .footer-style .social-links-col-links {
    text-align: right;
    color: #fff;
    list-style: none; }
    .footer-style .social-links-col-links ul {
      padding: 0px;
      float: left; }
    .footer-style .social-links-col-links li {
      float: center;
      padding: 5px;
      list-style: none; }
  .footer-style .footer-column {
    padding-top: 0px;
    padding-bottom: 0px; } }
