/*colors*/
/*primary colors */
h1,
h2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}

.title-row {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
  border-left: 3px solid #f5b929;
}

.slider-item {
  height: 200px;
}

.carousel-control.left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #1c2331;
  text-align: center;
  background-color: none;
  background-image: none;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.carousel-control.right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 15%;
  font-size: 20px;
  color: #1c2331;
  text-align: center;
  background-color: none;
  background-image: none;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.testimonial-heading {
  color: #333;
  text-decoration: none;
}

.testimonial-content {
  color: #333;
}
